
    <div class = "placeImput">
 
    <form [formGroup]="this.courseService.form" (ngSubmit)="onSubmit()">
      <mat-horizontal-stepper>
        <mat-step>
           <ng-template matStepLabel class="d-md-block d-none">Title</ng-template>
          <input type="hidden" formControlName="$key">
          <div class="form-group">
            <input formControlName="title" class="form-control" placeholder="Name"  [ngClass]="{'is-invalid':submitted && formControls.title.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formControls.title.errors">This field is required</div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Name</ng-template>

          <div class="form-group">
            <input formControlName="name" class="form-control" placeholder="Name"  [ngClass]="{'is-invalid':submitted && formControls.name.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formControls.name.errors">This field is required</div>
          </div>
        </mat-step>
        <mat-step>
                    <ng-template matStepLabel>Teacher</ng-template>

          <div class="form-group">
            <teacher-name formControlName="teacher" class="form-control"   [ngClass]="{'is-invalid':submitted && formControls.teacher.errors}"></teacher-name>
            <div class="invalid-feedback" *ngIf="submitted && formControls.teacher.errors">invalid teacher ..</div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Points</ng-template>
          <div class="form-group">
            <input formControlName="points" placeholder="Points" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.points.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formControls.points.errors">
              <label *ngIf="formControls.points.errors.minlength">at least 2 numbers</label>
            </div>
          </div>
        </mat-step>
        <mat-step>
         <ng-template matStepLabel>Goals</ng-template>
          <div class="form-group">
            <input formControlName="goals" placeholder="Goals" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.goals.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formControls.goals.errors">invalid goals ..</div>
            </div>
        </mat-step>
      </mat-horizontal-stepper>

      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit">
        
      </div>
    </form>
    <div class="alert alert-info" *ngIf="showSuccessMessage">
      submitted successfully.
    </div>
     
    </div>
 <teacher-name></teacher-name>   