.hero-img{
  z-index: -2;
  position: relative;
  margin:0 auto;
  height:100vh;
  width: 100%;
  background-image: url("../../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  top: -280px;
}
@media screen and (max-width:1400px){
  .hero-img{
    background-size:contain;
    width:100%;
  }
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
