
  <form class="form-inline" >
    <input name="searchInput" class="form-control" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 45%;">
    <button class="btn btn-outline-primary" style="background-color: white; width: 5%;"(click)="searchText=''">x</button>

  </form>
    <br>
  <div class="alert alert-danger" *ngIf="showDeletedMessage">Deleted successfully</div>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Action Courses
      </mat-panel-title>
      <mat-panel-description>
        Battle Royal, Shooter, Fighting Games
      </mat-panel-description>
    </mat-expansion-panel-header>
      <table class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col" class="d-none d-md-table-cell">Name</th>
        <th scope="col" class="d-none d-md-table-cell">Teacher</th>
        <th scope="col">Points</th>
        <th scope="col" class="d-none d-md-table-cell">Goals</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let course of courseArray">
        <tr *ngIf="filterCondition(course)">
          <td *ngIf ="course.name == 'Action'" scope="row">{{course.title}}</td>
          <td *ngIf ="course.name == 'Action'" class="d-none d-md-table-cell">{{course.name}}</td>
          <td *ngIf ="course.name == 'Action'" class="d-none d-md-table-cell">{{course.teacher}}</td>
          <td *ngIf ="course.name == 'Action'" >{{course.points}}</td>
          <td *ngIf ="course.name == 'Action'" class="d-none d-md-table-cell">{{course.goals}}</td>
          <td *ngIf ="course.name == 'Action'" class="d-none d-md-table-cell">
            <button class="btn btn-info d-none d-md-table-cell" (click)="courseService.populateForm(course)" >Edit</button> </td>
            <td *ngIf ="course.name == 'Action'" class="d-none d-md-table-cell"> 
              <button class="btn btn-danger" (click)="onDelete(course.$key)">Delete</button>
          </td >
        </tr>
      </ng-container>
      
    </tbody>
    </table><h1>Total Price {{getPrice("Action")}} €</h1>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Jump & Run Courses
      </mat-panel-title>
      <mat-panel-description>
        Speedrun, Run & Gun, Top-Down
      </mat-panel-description>
    </mat-expansion-panel-header>
      <table class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col" class="d-none d-md-table-cell">Name</th>
        <th scope="col" class="d-none d-md-table-cell">Teacher</th>
        <th scope="col">Points</th>
        <th scope="col" class="d-none d-md-table-cell">Goals</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
     <tbody>
      <ng-container *ngFor="let course of courseArray">
        <tr *ngIf="filterCondition(course)">
          <td *ngIf ="course.name == 'Jump & Run'" scope="row">{{course.title}}</td>
          <td *ngIf ="course.name == 'Jump & Run'" class="d-none d-md-table-cell">{{course.name}}</td>
          <td *ngIf ="course.name == 'Jump & Run'" class="d-none d-md-table-cell">{{course.teacher}}</td>
          <td *ngIf ="course.name == 'Jump & Run'">{{course.points}}</td>
          <td *ngIf ="course.name == 'Jump & Run'" class="d-none d-md-table-cell">{{course.goals}}</td>
          <td *ngIf ="course.name == 'Jump & Run'" class="d-none d-md-table-cell">
            <button class="btn btn-info " (click)="courseService.populateForm(course)">Edit</button> </td>
            <td *ngIf ="course.name == 'Jump & Run'" class="d-none d-md-table-cell"><button class="btn btn-danger" (click)="onDelete(course.$key)">Delete</button>
          </td>
        </tr>
      </ng-container>
      

    </tbody>
    </table>
    <h1>Total Price: {{getPrice("Jump & Run")}} €</h1>
  </mat-expansion-panel>
   <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Strategy Courses
      </mat-panel-title>
      <mat-panel-description>
        MOBA, Card-Games, Classic Strategy Games
      </mat-panel-description>
    </mat-expansion-panel-header>
      <table class="table table-striped " >
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col" class="d-none d-md-table-cell">Name</th>
        <th scope="col" class="d-none d-md-table-cell">Teacher</th>
        <th scope="col">Points</th>
        <th scope="col" class="d-none d-md-table-cell">Goals</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
     <tbody>
      <ng-container *ngFor="let course of courseArray">
        <tr *ngIf="filterCondition(course)">
          <td  *ngIf ="course.name == 'Strategy'" scope="row">{{course.title}}</td>
          <td *ngIf ="course.name == 'Strategy'" class="d-none d-md-table-cell">{{course.name}}</td>
          <td *ngIf ="course.name == 'Strategy'" class="d-none d-md-table-cell">{{course.teacher}}</td>
          <td *ngIf ="course.name == 'Strategy'">{{course.points}}</td>
          <td *ngIf ="course.name == 'Strategy'" class="d-none d-md-table-cell">{{course.goals}}</td>
          <td *ngIf ="course.name == 'Strategy'" class="d-none d-md-table-cell">
            <button class="btn btn-info " (click)="courseService.populateForm(course)" >Edit</button> </td>
            <td *ngIf ="course.name == 'Strategy'" class="d-none d-md-table-cell"><button class="btn btn-danger" (click)="onDelete(course.$key)">Delete</button>
          </td>
          
        </tr>
      </ng-container>
    </tbody>
    </table>
    <h1>Total Price {{getPrice("Strategy")}} €</h1>
  </mat-expansion-panel>
</mat-accordion>

