<div class="container">
	<br>
	<br>
	<h2> About Us</h2>
	<br>
	<br>	
	<p class="textabout">Founded in 2016, Pro Gaming Academy Wien follows the concept of pro gaming boot camps of Anglo-American countries. Our goal is to provide time-efficient and very practice-oriented training with the aim of the fastest shot. Our courses are tailored to noobs, people who want to change careers in the second or third educational path as well as people who are interested in an Pro Gamer education.</p>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>


	<h3 class="pgahead">Pro Gaming Academy</h3>

	<p class="adresse">1050 Vienna <br>
Kettenbrückengasse 23/2/12
</p>
<br>
<br>

<h3>OPENING HOURS</h3>
<p>-----------------------------------------------------</p>
<p>Monday 9am-4pm</p>
<p>Tuesday 9am-4pm</p>
<p>Wednesday 9am-4pm</p>
<p>Thursday 9am-4pm</p>
<p>-----------------------------------------------------</p>

<p>email: office@progamingacademy.com</p>

	
</div>
