<div class="container">
  <h1 class="col-12">PACKAGES</h1>
  <div class="row">
    <div class="col-12">
      <div class="card-deck">
        <div class="card text-white"><img class="card-img" src="../../assets/card.png"/>
          <div class="card-img-overlay">
            <!-- <h2 class="card-title">Card 1</h2> -->
            <img class="card-text" src="assets/course/shooter6.png"> <br>
            <p>Price: 4000€</p>
            <a [routerLink]="['/action']" routerLinkActive="router-link-active"  href="#" class=" btn btn-outline-light" >Find out</a>
          </div>
        </div>
        <div class="card text-white"><img class="card-img" src="../../assets/card.png"/>
          <div class="card-img-overlay">
            <img class="card-text" src="assets/course/mario.png"> <br>
            <p>Price: 4000€</p><a [routerLink]="['/jump']" routerLinkActive="router-link-active"  href="#" class="btn btn-outline-light" href="#">Find out</a>
          </div>
        </div>
        <div class="card text-white"><img class="card-img" src="../../assets/card.png"/>
          <div class="card-img-overlay">
            <img class="card-text" src="assets/course/teemo.png"> <br>
            <p>Price: 4000€</p><a [routerLink]="['/strategy']" routerLinkActive="router-link-active"  href="#" class="btn btn-outline-light" href="#">Find out</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>