<!-- <div class="container">
  <h1 class="col-12">PACKAGES</h1>
  <div class="row">
    <div class="col-12">
      <div class="card-deck">
        <div class="card text-white"><img class="card-img" src="../../assets/card1.png"/>
          <div class="card-img-overlay">
            
            <img class="card-text" src="assets/course/shooter6.png"> <br>
            <p>Price: 4000€</p>
            <a [routerLink]="['/action']" routerLinkActive="router-link-active"  href="#" class=" btn btn-outline-light" >Find out</a>
          </div>
        </div>
        <div class="card text-white"><img class="card-img" src="../../assets/card2.png"/>
          <div class="card-img-overlay">
            <img class="card-text" src="assets/course/mario.png"> <br>
            <p>Price: 4000€</p><a [routerLink]="['/jump']" routerLinkActive="router-link-active"  href="#" class="btn btn-outline-light" href="#">Find out</a>
          </div>
        </div>
        <div class="card text-white"><img class="card-img" src="../../assets/card3.png"/>
          <div class="card-img-overlay">
            <img class="card-text" src="assets/course/teemo.png"> <br>
            <p>Price: 4000€</p><a [routerLink]="['/strategy']" routerLinkActive="router-link-active"  href="#" class="btn btn-outline-light" href="#">Find out</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <h1 class="col-12">PACKAGES</h1>
  <div class="row card-deck">
    <div class="row card-deck">
      <!--  <div class="card-deck"> -->
      <ng-container>
        <div class="col-sm-12 col-md-8 col-lg-4 col-xl-4  card-deck">
          <div class="card text-white "><img class="card-img" src="/assets/card1.png" />
            <div class="card-img-overlay">
               <img class="foto" src="assets/course/shooter6.png"> <br><br><br>
            <h2>Price: 5508 €</h2>
            <a [routerLink]="['/action']" routerLinkActive="router-link-active"  href="#" class=" btn btn-outline-light" ><h2>Find out</h2></a>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container>
        <div class="col-sm-12 col-md-8 col-lg-4 col-xl-4  card-deck">
          <div class="card text-white "><img class="card-img" src="/assets/card2.png" />
            <div class="card-img-overlay">
              <img class=" foto" src="assets/course/mario.png"> <br><br><br>
            <p>Price: 4860 €</p><a [routerLink]="['/jump']" routerLinkActive="router-link-active"  href="#" class="btn btn-outline-light" href="#"><h2>Find out</h2></a>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container>
        <div class="col-sm-12 col-md-8 col-lg-4 col-xl-4  card-deck">
          <div class="card text-white "><img class="card-img" src="/assets/card3.png" />
            <div class="card-img-overlay">
             <img class="foto" src="assets/course/teemo.png"> <br><br><br>
            <p>Price: 4752€</p><a [routerLink]="['/strategy']" routerLinkActive="router-link-active"  href="#" class="btn btn-outline-light" href="#"><h2>Find out</h2></a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <!--     </div> -->
  </div>
</div>
