div {
  width: 100%;
  background-image: url("../../assets/footer.png");
  height: 22vw;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20vh;
}

.logoeins{
	width:70px;
	height:50px;
	float:right;
	margin-top: 25vh;
	margin-right: 10vh;
}

.logozwei{
	width:70px;
	height:50px;
	float:right;
	margin-top: 25vh;
	margin-right: 5vh;
}

.logodrei{
	width:70px;
	height:50px;
	float:right;
	margin-top: 25vh;
	margin-right: 5vh;
}

.logovier{
	width:70px;
	height:50px;
	float:right;
	margin-top: 25vh;
	margin-right: 5vh;
}
