body {
  margin: 0;
  padding: 0;
}
.hero-img{
  z-index: -2;
  position: relative;
  margin:0 auto;
  height:100vh;
  width: 100%;
  background-image: url("../../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  top: -28vh;
}

.video {
  background-image: url("../../assets/videobg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

  height: 150vh;
}

.player {
  position: absolute;
  margin: 0 auto;
  height: 60vh;
  width: 60%;
  margin-top: 50vh;
  margin-left: 20em;
}
