<div class="video"><video class ="player" width="400" controls>
  <source src="mov_bbb.mp4" type="video/mp4">
  <source src="mov_bbb.ogg" type="video/ogg">
  Your browser does not support HTML5 video.
</video></div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card-deck">
        <div class="card text-white"><img class="card-img" src="../../assets/card.png"/>
          <div class="card-img-overlay">
            <h2 class="card-title">Card 1</h2>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. </p><a class="btn btn-outline-light" href="#">Find out</a>
          </div>
        </div>
        <div class="card text-white"><img class="card-img" src="../../assets/card.png"/>
          <div class="card-img-overlay">
            <h2 class="card-title">Card 2</h2>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. </p><a class="btn btn-outline-light" href="#">Find out</a>
          </div>
        </div>
        <div class="card text-white"><img class="card-img" src="../../assets/card.png"/>
          <div class="card-img-overlay">
            <h2 class="card-title">Card 3</h2>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. </p><a class="btn btn-outline-light" href="#">Find out</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
