body {
  margin: 0;
  padding: 0;
}


.video {
  background-image: url("../../assets/videobg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 60vh;
  height: 150vh;
}

.player {
  position: absolute;
  margin: 0 auto;
  height: 60vh;
  width: 60%;
  margin-top: 50vh;
  margin-left: 20em;
}
