

<joinbutton></joinbutton>
<hero></hero>
<div class="join">
<button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target=".bs-example-modal-new" >Join Us</button></div>
<div class="video"><div class="video">
  <iframe class ="player" width="560" height="315" src="https://www.youtube.com/embed/jPZXbW4wz_A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div></div>

<coursecard></coursecard>
<app-test-mo1></app-test-mo1>

