<p>test-mo works!</p>

<!-- usage example-->
<hr>
<div class="news">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#tab-id-0" aria-controls="tab-id-0" role="tab" data-toggle="tab"><span>Tab 1</span></a></li>
    <li class="active" role="presentation"><a href="#tab-id-1" aria-controls="tab-id-1" role="tab" data-toggle="tab"><span>Tab 2</span></a></li>
    <li role="presentation"><a href="#tab-id-2" aria-controls="tab-id-2" role="tab" data-toggle="tab"><span>Tab 3</span></a></li>
    <li role="presentation"><a href="#tab-id-3" aria-controls="tab-id-3" role="tab" data-toggle="tab"><span>Tab 4</span></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="tab-id-0" role="tabpanel">
<h2>Tab 1</h2>
    </div>
    <div class="tab-pane active" id="tab-id-1" role="tabpanel">
<h2>Tab 2</h2>
    </div>
    <div class="tab-pane" id="tab-id-2" role="tabpanel">
<h2>Tab 3</h2>
    </div>
    <div class="tab-pane" id="tab-id-3" role="tabpanel">
<h2>Tab 4</h2>
    </div>
  </div>

</div>

