
<!-- usage example-->
<hr>
<div class="news">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#tab-id-0" aria-controls="tab-id-0" role="tab" data-toggle="tab"><span>Tab 1</span></a></li>
    <li class="active" role="presentation"><a href="#tab-id-1" aria-controls="tab-id-1" role="tab" data-toggle="tab"><span>Tab 2</span></a></li>
    <li role="presentation"><a href="#tab-id-2" aria-controls="tab-id-2" role="tab" data-toggle="tab"><span>Tab 3</span></a></li>
    <li role="presentation"><a href="#tab-id-3" aria-controls="tab-id-3" role="tab" data-toggle="tab"><span>Tab 4</span></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="tab-id-0" role="tabpanel">
      <h2>Flawless victory for Astralis at IEM Beijing</h2>
      <img src="/assets/news/news1.jpg" alt="">
      <p>Although the Danish roster had relinquished their dominance over  the game for a few months earlier this year, they are now firmly back in control. Their relentless display at IEM Beijing marked a return to “business as usual” for a team widely hailed as the best in CS:GO history.</p>
    </div>
    <div class="tab-pane active" id="tab-id-1" role="tabpanel">
      <h2>Fortnite update 11.11 patch notes</h2>
      <img src="/assets/news/news2.jpg" alt="">
      <p>The most likely scenario is that Fortnite update 11.11 will launch <br> on the morning of November 13. Expect the servers to go offline <br> for downtime at 8am UK time.
        Epic has been extremely secretive <br> this season, choosing not to release full patch notes for any of the <br> updates.
        Fortunately, however, fans have a pretty good idea about <br>what to expect based on Twitter teasers and planned fixes listed on <br>Trello.
        "If you can't find true love in #SavetheWorld... then we'll make <br>our own!" reads an Epic tweet. "v11.11 is arriving tomorrow. <br>This patch includes new content for Save the World and addresses <br>some known issues in all game modes.</p>
    </div>
    <div class="tab-pane" id="tab-id-2" role="tabpanel">
      <h2>Call of Duty Modern Warfare update 1.08<br>New patch notes revealed for COD download</h2>
      <img src="/assets/news/news3.jpg" alt="">
      <p>This new patch should be rolling out to all platforms today, including PS4, Xbox One <br> and PC players.And even though fans will be happy to have new maps and modes <br>to try out, these changes could prove just as popular.
        Infinity Ward reports that they <br> have made changes to how footsteps work in some instances, while also working on <br> the backend to remove crash issues.
        A range of weapon changes has been confirmed <br>as well, although these are quite minor in scope. Infinity Ward confirms that they have <br> also looked into sync problems with challenges, although not all issues may have been <br>removed with this latest launch.</p>
    </div>
    <div class="tab-pane" id="tab-id-3" role="tabpanel">
      <h2>Pokemon Sword and Shield review embargo: <br>Nintendo Switch fans forced to wait for scores</h2>
      <img src="/assets/news/news4.jpg" alt="">
      <p>Pokemon Sword and Shield fans are waiting for the reviews to drop for the upcoming <br>Nintendo Switch exclusives.
        Unfortunately, however, it looks like fans must continue to <br>play the waiting game until launch.
        No official times have been listed on review aggregator <br> sites like OpenCritic or Metacritic, and Nintendo is remaining tight-lipped on the matter. <br>
        According to reports, the review embargo could lift on November 12 at 1pm UK time. <br>Check back at this time for an update.</p>
    </div>
  </div>
</div>
