
img{
  width:100%;
  height:100%;
}
.news{

  margin:0 auto;
  width: 60%;
}
// divider
hr {
  background-color: currentColor;
  min-width: 50%;
  height: 3px;
  border: none;
  margin: auto;
  position: relative;
  margin-bottom: 6em;

  &:before {
    font-family: cursive;
    content: 'News';
    display: block;
    width: 20%;
    padding: 0.3em;
    font-size: 2em;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #f2f2f2;
    transform: translate(-50%, -50%);

  }


}

p{
  font-size:2vw;

}
.tab-pane{
  width:40vw;
}
