<div class="container">
  <h1>ACTION PACKAGE</h1>
  <img class="card-text" src="assets/course/shootercod.gif">
  <h3>Description</h3>
  <p>Shooter games are a subgenre of action video games, which often test the player's spatial awareness, reflexes, and speed in both isolated single player or networked multiplayer environments. Shooter games encompass many subgenres that have the commonality of focusing on the actions of the avatar engaging in combat with a weapon against both code-driven NPC enemies or other avatars controlled by other players.</p>
  <table class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col" class="d-none d-md-table-cell">Teacher</th>
        <th scope="col" class="d-none d-md-table-cell">Points</th>
        <th scope="col" class="d-none d-md-table-cell">Goals</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let course of courseArray">
        <tr *ngIf="filterCondition(course)">
          <td *ngIf="course.name == 'Action'" scope="row">{{course.title}}</td>
          <td *ngIf="course.name == 'Action'" class="d-none d-md-table-cell">{{course.teacher}}</td>
          <td *ngIf="course.name == 'Action'" class="d-none d-md-table-cell">{{course.points}}</td>
          <td *ngIf="course.name == 'Action'" class="d-none d-md-table-cell">{{course.goals}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <h2>Price:</h2>
</div>

