<!-- <ng-container *ngFor="let teacher of teacherArray">
  <tr *ngIf="filterCondition(teacher)">
    <td scope="row">{{teacher.fullName}}</td>
    <td scope="row">{{teacher.nickName}}</td>
    <td class="d-none d-md-table-cell">{{teacher.favgames}}</td>
    <td class="d-none d-md-table-cell">{{teacher.image}}</td>
    <td>
      <button class="btn btn-info " (click)="teacherService.populateForm(teacher)">Edit</button> </td>
    <td><button class="btn btn-danger" (click)="onDelete(teacher.$key)">Delete</button>
    </td>
  </tr>
 -->
<!-- </ng-container> -->

<div class="container">
  <div class="row card-deck">
    <div class="row card-deck" >
     <!--  <div class="card-deck"> -->
        
      
      <ng-container *ngFor="let teacher of teacherArray">
        <div class= "col-4 card-deck" *ngIf="filterCondition(teacher)">
          <div class="card text-white"><img class="card-img" src="/assets/card.png" />
            <div class="card-img-overlay">
              <img class="foto"src="/assets/teacher/{{teacher.image}}" alt="img">
              <h2 class="card-title">Name: {{teacher.fullName}}</h2>
              <p class="card-text">NickName: {{teacher.nickName}} </p>
              <p class="card-text">Favourite Games: {{teacher.favgames}} </p>
            </div>
          </div>
        </div>
        
      </ng-container>
    </div>
<!--     </div> -->
  </div>
</div>
