<div class="container">
  <div class="row card-deck">
    <div class="row card-deck">
      <!--  <div class="card-deck"> -->
      <ng-container *ngFor="let teacher of teacherArray">
        <div class="col-sm-12 col-md-8 col-lg-4 col-xl-4  card-deck" *ngIf="filterCondition(teacher)">
          <div class="card text-white "><img class="card-img" src="/assets/card.png" />
            <div class="card-img-overlay">
              <img class="foto" src="/assets/teacher/{{teacher.image}}" alt="img">
              <h2 class="card-title">{{teacher.fullName}}</h2>
              <p class="card-text">Alias: {{teacher.nickName}} </p>
              <p class="card-text">Games: {{teacher.favgames}} </p>
              <div class="clip-star"></div>
              <div class="clip-star"></div>
              <div class="clip-star"></div>
              <div class="clip-star"></div>
              <div class="clip-star"></div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <!--     </div> -->
  </div>
</div>
