<nav class="navbar">
  <div class="logo"><a href="#">PGA</a></div>
  <ul>
    <li><a [routerLink]="['/']" routerLinkActive="router-link-active"  href="#">HOME</a></li>
    <li><a [routerLink]="['/course']" routerLinkActive="router-link-active"  href="#">Courses</a></li>
    <li><a [routerLink]="['/teacher']" routerLinkActive="router-link-active" href="#">Teacher</a></li>
	<li><a [routerLink]="['/testimonials']" routerLinkActive="router-link-active" href="#">Testimonials</a></li>  
    <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" href="#">Contact</a></li></ul>

</nav>
<div class="background"></div>
<div class="header">


</div>
