<div class="container">
  <h1>Jump & Run PACKAGE</h1>
  <img class="card-text" src="assets/course/meatboy.gif">
  <h3>Description</h3>
  <p>Platform games, or platformers, are a video game genre and subgenre of action game. In a platformer the player controlled character must jump and climb between suspended platforms while avoiding obstacles. Environments often feature uneven terrain of varying height that must be traversed. The player often has some control over the height and distance of jumps to avoid letting their character fall to their death or miss necessary jumps.</p>
  <table class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col" class="d-none d-md-table-cell">Teacher</th>
        <th scope="col" class="d-none d-md-table-cell">Points</th>
        <th scope="col" class="d-none d-md-table-cell">Goals</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let course of courseArray">
        <tr *ngIf="filterCondition(course)">
          <td *ngIf="course.name == 'Jump & Run'" scope="row">{{course.title}}</td>
          <td *ngIf="course.name == 'Jump & Run'" class="d-none d-md-table-cell">{{course.teacher}}</td>
          <td *ngIf="course.name == 'Jump & Run'" class="d-none d-md-table-cell">{{course.points}}</td>
          <td *ngIf="course.name == 'Jump & Run'" class="d-none d-md-table-cell">{{course.goals}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <h2>Price:</h2>
</div>

