<div class="container">
  <h1 class="col-12">TESTIMONIALS</h1>
  <div class="row">
    <div class="col-12">
      <div class="card-deck">
        <div class="card text-white"><img class="card-img" src="../../assets/card.png"/>
          <div class="card-img-overlay">
            <!-- <h2 class="card-title">Card 1</h2> -->
            <img class="card-text" src="assets/testimonials/bruce.png">
            <h4> Bruce Pumpgun </h4>
            <p>I love the Pumpgun Course</p>
          </div>
        </div>
        <div class="card text-white"><img class="card-img" src="../../assets/card.png"/>
          <div class="card-img-overlay">
            <img class="card-text" src="assets/testimonials/rogen.png">
            <h4> Seth Rogenhans</h4>
            <p>I was amazed how quickly i was able to play like a pro.</p>
          </div>
        </div>
        <div class="card text-white"><img class="card-img" src="../../assets/card.png"/>
          <div class="card-img-overlay">
            <img class="card-text" src="assets/testimonials/scarlett.png">
            <h4> Scarlett Joehanson</h4>
            <p>Best Academy World Wide!!!</p>
          </div>
        </div>

      </div>
    </div>
  </div>
    