<div class="container">
  <h1 class="col-12">TESTIMONIALS</h1>
  <div class="row card-deck">
    <div class="row card-deck">
      <!--  <div class="card-deck"> -->
      <ng-container>
        <div class="col-sm-12 col-md-8 col-lg-4 col-xl-4  card-deck">
          <div class="card text-white "><img class="card-img" src="/assets/card.png" />
            <div class="card-img-overlay">
              <img class="foto" src="assets/testimonials/bruce.png" alt="img">
              <h4> Bruce Pumpgun </h4>
                 <br>
              <p>I love the Shotgun Course</p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container>
        <div class="col-sm-12 col-md-8 col-lg-4 col-xl-4  card-deck">
          <div class="card text-white "><img class="card-img" src="/assets/card.png" />
            <div class="card-img-overlay">
              <img class="foto" src="assets/testimonials/rogen.png">
              <h4> Seth Rogenhans</h4>
                 <br>
              <p>I was amazed how quickly i was able to play like a pro.</p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container>
        <div class="col-sm-12 col-md-8 col-lg-4 col-xl-4  card-deck">
          <div class="card text-white "><img class="card-img" src="/assets/card.png" />
            <div class="card-img-overlay">
              <img class="foto" src="assets/testimonials/scarlett.png">
              <h4> Scarlett Joehanson</h4>
              <br>
              <p>Best Academy World Wide!!!</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <!--     </div> -->
  </div>
</div>
